@model List<Product>

<a href="/Product/NewProduct">Add New Product</a>

<h2>Our Products:</h2>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  @foreach (Product prod in Model)
  {
    <tr>
      <td><a href="/Product/ViewProduct/@prod.Id">@prod.Name</a></td>
      <td>@prod.Price</td>
    </tr>
  }
</table>
