@model List<Product>

<h2>Our Products:</h2>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  @foreach (Product prod in Model)
  {
    <tr>
      <td>@prod.Name</td>
      <td>@prod.Price</td>
    </tr>
  }
</table>
